div, textarea {
  font-family: Arial;
  font-size: 14px;
}
p {
  margin: 0;
}

#a, #b {
  width: 24%;
  height: 100%;
}
#diff {
  float: right;
  width: 50%;
  height: 94%;
  overflow-y: scroll;
}
#legend {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
}
  #legend span {
    padding: 5px;
  }
#lineCompare {
  margin-top: 15px;
}
  #lineCompare span {
    background: white;
  }
  #lineCompare .add {
    color: #090;
    text-decoration: underline;
  }
  #lineCompare .remove {
    color: #900;
    text-decoration: line-through;
  }

.add {
  background: #dfd;
}
.remove {
  background: #fdd;
}
.over {
  background: #ee9;
  cursor: pointer;
}
.selected {
  border: 2px dashed #e11;
}
